@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Core drama */
[epub|type~="z3998:drama"] table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

i [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}
/* End core drama */

/* Together dialog */
tr.together{
	break-inside: avoid;
}

tr.together td{
	padding: 0 .5em 0 0;
	vertical-align: middle;
}

tr.together td + td{
	border-left: 1px solid;
}

[epub|type~="z3998:drama"] .together td:last-child{
	padding-left: .5em;
}
/* End together dialog */

/* Dramatis Personae */
[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
}

[epub|type~="z3998:dramatis-personae"] p{
	text-indent: 0;
}

[epub|type~="z3998:dramatis-personae"] ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

[epub|type~="z3998:dramatis-personae"] ul li{
	font-style: italic;
	margin: 1em;
}
/* End Dramatis Personae */

/* Verse blockquotes */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End verse blockquotes */

/* Page breaks after part headers */
#part-2 hgroup,
#part-3 hgroup,
#part-5 hgroup{
	break-after: page;
}
/* End page breaks after part headers */

/* Miscellanea */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

p[epub|type~="subtitle"]{
	font-size: 1.17em;
}

/* Simulate `h3`. */
section[epub|type~="z3998:dramatis-personae"] header{
	font-size: 1.17em;
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 3em;
}
/* End miscellanea */
